.searchContainer {
  margin-top: 100px;
  font-family: "Jura", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchInputContainer {
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  width: 70%;
}
.resultsContainer {
  width: 70%;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.movieCard {
  width: 200px;
  border: 1px black solid;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.movieList {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.searchButton {
  border-radius: 0 10px 10px 0;
}

.searchInput {
  border-radius: 10px 0 0 10px;
  border: 2px black solid;
  width: 100%;
}
